{% extends "base.html" %}
{% load static %}
{% load core_extras %}
{% block title %}
    博文日志列表
{% endblock %}

<!--Breadcrumbs-->
{% block breadcrumb %}
    <nav class="bg-gray-50">
        <div class="container">
            <ul class="mx-4 py-2 inline-flex items-center space-x-1 md:space-x-3 text-sm text-blog-dark">
                <li><a href="/"><i class="fa fa-home mr-1"></i>首页</a></li>
                <li><i class="fa fa-chevron-right mr-2"></i><span class="text-primary">博文日志</span></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <!--Main-->
    <main class="container my-4 flex flex-col md:flex-row items-start">
        <!--左侧边栏-->
        <div class="w-full md:w-3/4 bg-white p-2 md:mr-4">
            <div class="w-full my-4 border-b-2 border-b-primary">
                <ul class="flex items-center flex-row space-x-1">
                    {% if not request.GET.category %}
                        <li class="bg-primary text-white py-1 px-3"><a href="{% url 'posts' %}">全部</a></li>
                    {% else %}
                        <li class="bg-gray-100 text-black py-1 px-3"><a href="{% url 'posts' %}">全部</a></li>
                    {% endif %}
                    {% for category in CATEGORIES %}
                        {% if request.GET.category == category.id|to_str %}
                            <li class="bg-primary text-white py-1 px-3"><a
                                    href="?category={{ category.id }}">{{ category.name }}</a></li>
                        {% else %}
                            <li class="bg-gray-100 text-black py-1 px-3"><a
                                    href="?category={{ category.id }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!--文章-->
            {% for item in items %}
                <div class="flex justify-between items-center flex-col md:flex-row mb-4">
                    <div class="relative w-full md:w-1/4 md:mr-4">
                        {% if item.img %}
                            <img class="w-full h-40" src="{{ item.img.url }}" alt="{{ item.title }}">
                        {% else %}
                            <img class="w-full h-40" src="{{ item.author.profile.avatar.url }}" alt="{{ item.title }}">
                        {% endif %}
                        <span class="bg-primary absolute top-2 right-2 px-2 text-sm text-white">{{ item.category.name }}</span>
                    </div>
                    <div class="w-full md:w-3/4">
                        <h3 class="text-2xl font-bold"><a href="{{ item.get_post_url }}">{{ item.title }}</a></h3>
                        <p class="text-sm"><i class="fa fa-clock pr-1"></i>{{ item.created_time }}</p>
                        <p class="my-1">
                            {{ item.summary|safe }}
                        </p>
                        <div class="flex justify-between text-sm">
                            <div class="flex justify-between space-x-4 items-center">
                                <img class="w-7 rounded-full" src="{{ item.author.profile.avatar.url }}"
                                     alt="avatar">
                                <span class="text-secondary">{{ item.author.profile.fullname }}</span>
                            </div>
                            <div class="flex space-x-4">
                                <span><i class="fa fa-comment pr-1 text-secondary"></i>{{ item.comments.all | length }}</span>
                                <span><i class="fa fa-eye pr-1 text-secondary"></i>{{ item.views }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!--分页-->
            <div class="container flex justify-center mx-auto py-4">
                <ul class="flex">
                    {% if items.has_previous %}
                        <li><a class="align-middle mx-4 h-10 py-3 px-5 text-blog-dark bg-white border border-blog-dark"
                               href="?page={{ items.previous_page_number }}">上一页</a></li>
                    {% endif %}
                    {% if items.has_next %}
                        <li><a class="align-middle mx-4 h-10 py-3 px-5 text-blog-dark bg-white border border-blog-dark"
                               href="?page={{ items.next_page_number }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!--右侧边栏-->
        <div class="w-full md:w-1/4 bg-white p-2">
            <!--Weather-->
            <div class="w-full relative py-4">
                <img class="w-full" src="https://picsum.photos/id/1041/400/360" alt="weather"/>
                <div class="absolute top-10 left-12 text-white">
                    <div class="text-xl mb-2">北京</div>
                    <div class="text-4xl mb-2">天气晴</div>
                    <div class="text-2xl mb-2">15°</div>
                </div>
            </div>

            {% include 'segment/categories.html' %}

            {% include 'segment/chose-posts.html' %}

            {% include 'segment/latest-posts.html' %}

            {% display_popular_posts %}

            {% display_tags %}


        </div>

    </main>
{% endblock %}